@model Entidad.PACIENTE


<br />
<br />
<br />
<br />
<h2>Crear Paciente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Primer Nombre</label>
            <div class="col-md-10">
                <input id="PRIMER_NOMBRE" name="PRIMER_NOMBRE" class="form-control" placeholder="Primer Nombre" />
                @Html.ValidationMessageFor(model => model.PRIMER_NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Segundo Nombre</label>
            <div class="col-md-10">
                <input id="SEGUNDO_NOMBRE" name="SEGUNDO_NOMBRE" class="form-control" placeholder="Segundo Nombre" />
                @Html.ValidationMessageFor(model => model.SEGUNDO_NOMBRE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Primer Apellido</label>
            <div class="col-md-10">
                <input id="PRIMER_APELLIDO" name="PRIMER_APELLIDO" class="form-control" placeholder="Primer Apellido" />
                @Html.ValidationMessageFor(model => model.PRIMER_APELLIDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Segundo Apellido</label>
            <div class="col-md-10">
                <input id="SEGUNDO_APELLIDO" name="SEGUNDO_APELLIDO" class="form-control" placeholder="Segundo Apellido" />
                @Html.ValidationMessageFor(model => model.SEGUNDO_APELLIDO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Edad</label>
            <div class="col-md-10">
                <input id="EDAD" name="EDAD" class="form-control" placeholder="Edad" />
                @Html.ValidationMessageFor(model => model.EDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Direccion</label>
            <div class="col-md-10">
                <input id="DIRECCION" name="DIRECCION" class="form-control" placeholder="Direccion" />
                @Html.ValidationMessageFor(model => model.DIRECCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Nacimiento</label>
            <div class="col-md-10">
                <input id="FECHA_NACIMIENTO" name="FECHA_NACIMIENTO" class="form-control" placeholder="Fecha Nacimiento" />
                @Html.ValidationMessageFor(model => model.FECHA_NACIMIENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Telefono</label>
            <div class="col-md-10">
                <input id="TELEFONO" name="TELEFONO" class="form-control" placeholder="Telefono" />
                @Html.ValidationMessageFor(model => model.TELEFONO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Correo Electronico</label>
            <div class="col-md-10">
                <input id="CORREO_ELECTRONICO" name="CORREO_ELECTRONICO" class="form-control" placeholder="Correo Electronico" />
                @Html.ValidationMessageFor(model => model.CORREO_ELECTRONICO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sucursal</label>
            <div class="col-md-10">
                <input id="ID_SUCURSAL" name="ID_SUCURSAL" class="form-control" placeholder="Sucursal" />
                @Html.ValidationMessageFor(model => model.ID_SUCURSAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-info" />
                <button title="Regresar" onclick="location.href='@Url.Action("Paciente")';return false;" class="btn btn-info"><i class="fa fa-reply"></i> Regresar</button>
            </div>
        </div>
    </div>
}

